<div class="row">
 	<div class="span4 pull-right">
 		<h1>Edit</h1>
		<%= form_for @user do |f|%>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :email%>
			<%= f.text_field :email, placeholder:"Email", class:"span4"%>

			<%= f.label :password%>
			<%= f.password_field :password, placeholder:"Password", class:"span4"%>

			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, placeholder:"Type password again bro", class:"span4"%>

			<%= f.submit "Update", class: "btn btn-primary", style:"display:block"%>
		<%end%>
	</div>
</div>