<div class="row">
  <aside class="col-md-3">
    <div class="title" style="margin-top:0px; padding-top:0px;">
      <%= @user.email.split('@')[0]%>
    </div>
    <div>
      <%= link_to "Edit my account", edit_user_path(@user)%>  
    </div>
    <div>
      <%= "Reputation: #{@user.total_votes}"%>
    </div>
  </aside>
  <div class="col-md-9">
    <% if @user.posts.any? %>
      <h4>You made <%= @user.posts.count %> posts:</h4>
      <section class="posts">
        <%= render partial:"shared/feed_item", collection:@posts %>
      </section>
    <% end %>
  </div>
</div>