<article id="<%= feed_item.id %>" class="feed_item">
	<div class="title">
	<%= feed_item.title %>
	</div>
	<span style="float:right; position:relative; top:-20px;">	
	<%if current_user?(feed_item.user)%>
		<%= link_to "delete", feed_item, method: :delete,
				data: { confirm: "You sure?" },
				title: feed_item.title %>
	<%end%>
	</span>
	<div class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
	    <%if !feed_item.original_creator.empty?%>
			<span style="font-weight:bold;"> Courtesy of <%= feed_item.original_creator %> </span>
		<%end%>
    </div>
	<div class="photo">
		<% if feed_item.photo? %>
			<%= image_tag feed_item.photo_url, class:"img-responsive"%>
		<% end %>
	</div>
	<div class="vote">
		<span class="vote-count">
			<%= pluralize feed_item.votes, "vote" %>
		</span>
		<% @value = current_user ? already_voted?(current_user, feed_item) : 0%>
		<span class="voting-option">
			<%= link_to "haha", vote_post_path(feed_item, value:1), method: :post, remote: true, class:"haha" + (@value == 1 ? ' inactive' : '')%>
			<span class="vertical-divider"> | </span>
			<%= link_to "meh", vote_post_path(feed_item, value:-1), method: :post, remote: true, class:"meh" + (@value == -1 ? ' inactive' : '')%>
		</span>
	</div>
</article>