<%= form_for @post, html:{role:"form"} do |f|%>
	<div id="post-title-validation" class="pull-right"></div>

	<div class="form-group">
		<%= f.label :title, class:"post-title"%>
		<%= f.text_field :title, placeholder:"Something witty", class:"form-control" %>		
	</div>

	<div class="description">Want to make a meme? Use <a href="http://memeful.com/">Memeful.com</a></div>

	<button type="button" class="btn btn-default" id="photo-btn">
	  <span class="glyphicon glyphicon-camera"></span> Photo
	</button>

	<button type="button" class="btn btn-default" id="link-btn">
	  <span class="glyphicon glyphicon-link"></span> Link
	</button>

	<div class="form-group" id="photo-form">
		<%= f.label :photo, class:"sr-only"%>
		<%= f.file_field :photo, class:"photo "%>
	</div>
	
	<div class="form-group" id="link-form">
		<%= f.label :remote_photo_url, "Link", class:"sr-only" %>
    	<%= f.text_field :remote_photo_url, placeholder:"http://", class:"form-control"%>
	</div>


	<%= f.submit "Post", class: "btn btn-default", id:"submit-post" %>
<%end%>